# node_modules
node_modules/

# build artifacts
dist/
dist-ssr/
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.vscode/
.idea/
.DS_Store

# os files
Thumbs.db
Desktop.ini
